body {
    background-color: black;
    margin: 0px;
}

#ctverec {
    width: 391px; height: 391px;
    border: 1px solid black;
    background-color: white;
    padding: 7px 10px;
    margin: calc((100vh - 391px) / 2) auto;
}

.face {
    float: left;    
    width: 20px; height: 20px;
    margin: 0 2px 2px 0;
    padding: 2px;
}

.n_face {
    background-color: yellow;
}

.b_face {
    background-color: red;
}

.s_face {
    background-color: green;
}